<h1>Editing Necklace Energized Bor X Transformer</h1>

<%= render 'form', necklace_energized_bor_x_transformer: @necklace_energized_bor_x_transformer %>

<%= link_to 'Show', @necklace_energized_bor_x_transformer %> |
<%= link_to 'Back', necklace_energized_bor_x_transformers_path %>
