<h1>Editing Transformation Ratio Transformer</h1>

<%= render 'form', transformation_ratio_transformer: @transformation_ratio_transformer %>

<%= link_to 'Show', @transformation_ratio_transformer %> |
<%= link_to 'Back', transformation_ratio_transformers_path %>
