<h1>New Transformation Ratio Transfromer</h1>

<%= render 'form', transformation_ratio_transfromer: @transformation_ratio_transfromer %>

<%= link_to 'Back', transformation_ratio_transfromers_path %>
