<h1>Editing Necklace Energized Bor H Transformer</h1>

<%= render 'form', necklace_energized_bor_h_transformer: @necklace_energized_bor_h_transformer %>

<%= link_to 'Show', @necklace_energized_bor_h_transformer %> |
<%= link_to 'Back', necklace_energized_bor_h_transformers_path %>
