<h1>Editing Powe Factor Nozzle H</h1>

<%= render 'form', powe_factor_nozzle_h: @powe_factor_nozzle_h %>

<%= link_to 'Show', @powe_factor_nozzle_h %> |
<%= link_to 'Back', powe_factor_nozzle_hs_path %>
