<h1>Editing Powe Factor Nozzle X</h1>

<%= render 'form', powe_factor_nozzle_x: @powe_factor_nozzle_x %>

<%= link_to 'Show', @powe_factor_nozzle_x %> |
<%= link_to 'Back', powe_factor_nozzle_xes_path %>
