<h1>New Stationary Batteries Battery Bank</h1>

<%= render 'form', stationary_batteries_battery_bank: @stationary_batteries_battery_bank %>

<%= link_to 'Back', stationary_batteries_battery_banks_path %>
