<h1>New Insulation Resistence Transformer</h1>

<%= render 'form', insulation_resistence_transformer: @insulation_resistence_transformer %>

<%= link_to 'Back', insulation_resistence_transformers_path %>
