<h1>Editing Neckalace Energized Bor H Transformer</h1>

<%= render 'form', neckalace_energized_bor_h_transformer: @neckalace_energized_bor_h_transformer %>

<%= link_to 'Show', @neckalace_energized_bor_h_transformer %> |
<%= link_to 'Back', neckalace_energized_bor_h_transformers_path %>
