<h1>Editing Insulation Resistance Transformer</h1>

<%= render 'form', insulation_resistance_transformer: @insulation_resistance_transformer %>

<%= link_to 'Show', @insulation_resistance_transformer %> |
<%= link_to 'Back', insulation_resistance_transformers_path %>
