<h1>New Insulation Resistance Transformer</h1>

<%= render 'form', insulation_resistance_transformer: @insulation_resistance_transformer %>

<%= link_to 'Back', insulation_resistance_transformers_path %>
